@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --on-hover: white;
    --secondary: hsla(225, 20%, 61%, 50%);
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

.font-open-sans {
    font-family: Open Sans;
}

.station:hover {
    flex-grow: 1;
}

*::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
    border: 3px solid var(--primary);
    transition: all .3s;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

@layer components {
    .dav-bg-gradient {
        background: linear-gradient(90deg, theme("colors.dav-primary") 67%, theme("colors.dav-secondary") 33%);
    }
}

.hallo {
    color: hsl(267, 52%, 49%);
    background-color: hsl(248, 65%, 51%);
}

.nav-bullet {
    @apply border border-white rounded-full bg-white h-3 w-3 delay-150 duration-300
}

.nav-bullet:hover:not(.current) {
    @apply origin-center scale-125
}

.nav-bullet.current {
    @apply origin-center scale-150 bg-transparent
}

.education-card:hover > .card-top {
    transform: translateY(-200%);
}

.card-detail {
    transform: translateY(100%);
}

.education-card:hover > .card-detail {
    transform: translateY(-100%);
}

@keyframes remove {
    0% {
        opacity: 1;
        display: flex;
    }
    99% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 0;
        display: none;
    }
}


@keyframes add {
    0% {
        opacity: 0;
        display: none;
    }
    99% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}





#dav-d,
#dav-a,
#dav-v {
    transform-origin: 50% 50%;
}

#dav-d {
    animation: spin 1s cubic-bezier(.51, .11, .05, 1.07) forwards .5s, lock .25s cubic-bezier(.51, .11, .05, 1.07) forwards 2s, glow 1.25s linear forwards 2.25s;
}

#dav-a {
    animation: spin 1s cubic-bezier(.51, .11, .05, 1.07) forwards .75s, lock .25s cubic-bezier(.51, .11, .05, 1.07) forwards 2s, glow 1.25s linear forwards 2.25s;
}

#dav-v {
    animation: spin 1s cubic-bezier(.51, .11, .05, 1.07) forwards 1.25s, lock .25s cubic-bezier(.51, .11, .05, 1.07) forwards 2s, glow 1.25s linear forwards 2.25s;
}

#loading-overlay {
    animation: slideOutTop .5s cubic-bezier(.51, .11, .05, 1.07) forwards 4s;
}

#main {
    transform: translateY(100%);
    animation: slideInBottom .5s cubic-bezier(.51, .11, .05, 1.07) forwards 4s;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutTop {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes glow {
    0% {
        filter: none;
    }

    100% {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(110deg);
    }

    60% {
        transform: rotate(80deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes lock {
    0% {
        transform: rotate(90deg) translateY(0);
    }

    90% {
        transform: rotate(90deg) translateX(-5px);
    }

    100% {
        transform: rotate(90deg) translateY(0);
    }
}
